---
layout: default
title: Jonathan Allard, Consultant et développeur logiciel à Montréal
---

.main.header
  .card
    %img.photo{src: "/images/photo.jpg", width: 50}
    .content
      %h1
        %span.name> Jonathan Allard
        %span.description
          Consultant en logiciel et développeur
          Rails
      %p
        À Montréal, Québec, Canada
        %br
        et ailleurs dans le monde
        %i.fa.fa-globe

  .nav
    -#.links
      .langs
        %span fr
        &middot;
        %a{href: "/en"} en
      .pages
        %a{href: "#contact"} Contact
    .external
      %a{href: "https://github.com/joallard", target: :_blank}(aria-label="Github")
        %i.fa.fa-github(title="Github")
      %a{href: "https://ca.linkedin.com/in/allardjonathan", target: :_blank}(aria-label="Linkedin")
        %i.fa.fa-linkedin
      %a{href: "http://stackoverflow.com/users/720164/jonathan-allard", target: :_blank}(aria-label="StackOverflow")
        %i.fa.fa-stack-overflow
      %a{href: "https://twitter.com/jonathanallard", target: :_blank}(aria-label="Twitter")
        %i.fa.fa-twitter


.tagline
  :markdown
    Résoudre les **problèmes d'affaires** des entreprises et OSBL  
    en développant des systèmes, outils et applications  
    **bien pensés**, **solides** et **efficaces**.

%section.projets#projets
  %h1 Projets réalisés

  .projet#defi28jours
    %img(src="/images/projets/defi28.jpg")
    .overlay
      %img(src="/images/projets/28jours.png" style="height: 48%")
      %img(src="/images/projets/adviso.png" style="height: 26%")
    .content
      %h2 Le Défi 28 jours sans alcool
      %p.subtitle Fondation Jean Lapointe / Adviso

      :markdown
        <small>Plus de</small>
        **300 000$** en dons récoltés sur la
        plateforme transactionnelle

  .projet#lebeau
    %img(src="/images/projets/lebeau-scr149.png")
    .overlay
      %img(src="/images/projets/lebeau-logo.png" style="height: 36%")
      %img(src="/images/projets/ecorce.png" style="height: 18%")
    .content
      %h2 Une amitié sans faille
      %p.subtitle Lebeau Vitres d'autos / Écorce

      :markdown
        Identification du marché cible immédiat,
        taux d'ouverture de courriels de
        **54%**

  .projet#sail
    %img(src="/images/projets/sail-scr149.jpg")
    .overlay
      %img(src="/images/projets/sail-logo.png" style="height: 33%")
      %img(src="/images/projets/absolunet.png" style="height: 31%")
    .content
      %h2 Rabais personnalité Sail
      %p.subtitle Sail / Absolunet

      :markdown
        **20 000** coupons rabais demandés
        en 3&nbsp;jours, augmentation des ventes en magasin.

  .projet#kinder
    %img(src="/images/projets/kinder-scr.png")
    .overlay
      %img(src="/images/projets/kinder.png" style="height: 33%")
      %img(src="/images/projets/hk-logo.png" style="height: 23%")

    .content
      %h2 Déballez un sourire
      %p.subtitle Kinder Canada / Hill+Knowlton

      :markdown
        Application ludique de transformation de photos,
        conception responsive et interactive

  .projet#numero
    %img(src="/images/projets/numero-ph.jpg")
    .overlay
      %img(src="/images/projets/numero-logo.png" style="height: 33%")
    .content
      %h2 Numéro
      %p.subtitle Startup

      :markdown
        Système transactionnel en libre service,
        et back-end téléphonique à fiabilité accrue.
        Temps de réponse moyen
        **135ms**

  .projet#bordeaux
    %img(src="/images/projets/bordeaux-scr.jpg")
    .overlay
      %img(src="/images/projets/saq.png" style="height: 48%")
      %img(src="/images/projets/esi.png" style="height: 23%")

    .content
      %h2 Vins de Bordeaux
      %p.subtitle ESI Marketing / SAQ

      :markdown
        **4 500** quiz joués en 5 jours
        pour faire découvrir les vins blancs de Bordeaux.


-#%section#tech
  %h1 La technologie derrière
  %section
    %h2
      %i.fa.fa-rails
      Rails

%section.contact#contact
  -#%h1 Contact

  .point-contact
    %i.fa.fa-at
    %span
      :plain
        <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'t'+'&'+'#'+
        '1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+'i'+'n'+'f'+'o'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'3'+'7'+';'+'&'+'#'+
        '5'+'4'+';'+'&'+'#'+'6'+'5'+';'+'o'+'n'+'&'+'#'+'9'+'7'+';'+'t'+'&'+'#'+'1'+'0'+'4'+';'+'a'+'&'+'#'+
        '1'+'1'+'0'+';'+'&'+'#'+'9'+'7'+';'+'l'+'%'+'6'+'C'+'&'+'#'+'9'+'7'+';'+'r'+'%'+'6'+'&'+'#'+'5'+'2'+
        ';'+'&'+'#'+'4'+'6'+';'+'c'+'%'+'&'+'#'+'5'+'4'+';'+'1'+"'"+'>'+'i'+'&'+'#'+'1'+'1'+'0'+';'+'f'+'&'+
        '#'+'1'+'1'+'1'+';'+'&'+'#'+'6'+'4'+';'+'j'+'&'+'#'+'1'+'1'+'1'+';'+'n'+'a'+'t'+'h'+'a'+'n'+'a'+'l'+
        'l'+'a'+'r'+'d'+'&'+'#'+'4'+'6'+';'+'c'+'a'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>

  .point-contact
    %i.fa.fa-phone
    %span.prefix +1
    %span 438 793-7933
