---
layout: default
title: Jonathan Allard, Consultant et développeur logiciel à Montréal
---

.main.header
  .card
    %img.photo{src: "/images/photo.jpg", width: 50}
    .content
      %h1
        %span.name> Jonathan Allard
        %span.description
          Consultant en logiciel et développeur
          Rails
      %p
        À Montréal, Québec, Canada
        %br
        et ailleurs dans le monde
        %i.fa.fa-globe

  .nav
    -#.links
      .langs
        %span fr
        &middot;
        %a{href: "/en"} en
      .pages
        %a{href: "#contact"} Contact
    .external
      %a{href: "https://github.com/joallard", target: :_blank}(aria-label="Github")
        %i.fa.fa-github(title="Github")
      %a{href: "https://ca.linkedin.com/in/allardjonathan", target: :_blank}(aria-label="Linkedin")
        %i.fa.fa-linkedin
      %a{href: "http://stackoverflow.com/users/720164/jonathan-allard", target: :_blank}(aria-label="StackOverflow")
        %i.fa.fa-stack-overflow
      %a{href: "https://twitter.com/jonathanallard", target: :_blank}(aria-label="Twitter")
        %i.fa.fa-twitter


.tagline
  :markdown
    Résoudre les **problèmes d'affaires** des entreprises et OSBL  
    en développant des systèmes, outils et applications  
    **efficaces**, **solides** et **agréables**.

-#%section#tech
  %h1 La technologie derrière
  %section
    %h2
      %i.fa.fa-rails
      Rails

%section.contact#contact
  -#%h1 Contact

  .point-contact
    %i.fa.fa-at
    %span
      :plain
        <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'t'+'&'+'#'+
        '1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+'i'+'n'+'f'+'o'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'3'+'7'+';'+'&'+'#'+
        '5'+'4'+';'+'&'+'#'+'6'+'5'+';'+'o'+'n'+'&'+'#'+'9'+'7'+';'+'t'+'&'+'#'+'1'+'0'+'4'+';'+'a'+'&'+'#'+
        '1'+'1'+'0'+';'+'&'+'#'+'9'+'7'+';'+'l'+'%'+'6'+'C'+'&'+'#'+'9'+'7'+';'+'r'+'%'+'6'+'&'+'#'+'5'+'2'+
        ';'+'&'+'#'+'4'+'6'+';'+'c'+'%'+'&'+'#'+'5'+'4'+';'+'1'+"'"+'>'+'i'+'&'+'#'+'1'+'1'+'0'+';'+'f'+'&'+
        '#'+'1'+'1'+'1'+';'+'&'+'#'+'6'+'4'+';'+'j'+'&'+'#'+'1'+'1'+'1'+';'+'n'+'a'+'t'+'h'+'a'+'n'+'a'+'l'+
        'l'+'a'+'r'+'d'+'&'+'#'+'4'+'6'+';'+'c'+'a'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>

  .point-contact
    %i.fa.fa-phone
    %span.prefix +1
    %span 438 793-7933
