-#.main.header
  .container
    .card
      %img.photo{src: "/images/photo.jpg", width: 50}
      .content
        %h1
          %span.name> Jonathan Allard
          %span.description
            Consultant en logiciel et développeur
            Rails
        %p
          À Montréal, Québec, Canada
          %i.fa.fa-globe

    .nav
      -#.links
        .langs
          %span fr
          &middot;
          %a{href: "/en"} en
        .pages
          %a{href: "#contact"} Contact
      .external
        %a{href: "https://github.com/joallard", target: :_blank}(aria-label="Github")
          %i.fa.fa-github(title="Github")
        %a{href: "https://ca.linkedin.com/in/allardjonathan", target: :_blank}(aria-label="Linkedin")
          %i.fa.fa-linkedin
        %a{href: "http://stackoverflow.com/users/720164/jonathan-allard", target: :_blank}(aria-label="StackOverflow")
          %i.fa.fa-stack-overflow
        %a{href: "https://twitter.com/jonathanallard", target: :_blank}(aria-label="Twitter")
          %i.fa.fa-twitter
