!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: :viewport, content: "width=device-width, initial-scale=1"}
    %title {{ page.title || Jonathan Allard > Blog }}
    - [:inconsolata, "m-1m", "linden-hill"].each do |f|
      %script{src: "http://use.edgefonts.net/#{f}.js"}
    %link{rel: :stylesheet, href: "/stylesheets/style.css"}
  %body
    %header
      .title
        %h1
          %a{href: "/"} Jonathan Allard
      %nav
        %ul
          %li
            %a{href: "//twitter.com/jonathanallard"}
              %img{src: "/images/twitter.png", alt: "@jonathanallard", title: "@jonathanallard"}
          %li
            %a{href: "/atom.xml"} 
              /rss
              %img{src: "/images/rss.png", alt: "RSS", title: "RSS"}
              
    {{ content }}
