\---
\layout: blog
\---
\
%article
  %time.square{datetime: "{{ page.date }}", title: "{{ page.date }}", pubdate: true}
    %span.year {{ page.date | date: "%Y" }}
    %span.day {{ page.date | date: "%-d" }}
    %span.month {{ page.date | date: "%b" }}
  %h1 {{ page.title }}
  {{ content }}
%hr
