\---
\layout: default
\---
\
%article
  %time.square{datetime: "{{ post.date }}", title: "{{ post.date}}", pubdate: true}
    .year {{ post.date | date: "%Y" }}
    .day {{ post.date | date: "%d" }}
    .month {{ post.date | date: "%b" }}
  %h1 {{ page.title }}
  {{ content }}
%hr
