* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: source-sans-pro, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #1f2126;
  color: #eef;
  padding: 0.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: nixie-one, serif;
  font-weight: normal;
  margin: 1.5em 0 0.5em; }

*::-selection {
  background: #d98820;
  color: white; }

::-moz-selection {
  background: #d98820;
  color: white; }

pre, code {
  font-family: inconsolata, monospace; }

blockquote, pre {
  padding: 0.5em; }

pre {
  background: rgba(0, 0, 0, 0.25); }

blockquote {
  color: #bbc; }

article {
  max-width: 35em;
  margin: auto; }

body > header {
  font-size: 0.9em;
  overflow: hidden;
  margin: auto;
  margin-top: -1.0em;
  padding: 0.5em;
  border-bottom: 1px solid #444444; }
  body > header div.title {
    float: left; }
  body > header h1 {
    font-size: 1em;
    font-weight: normal;
    display: inline; }
  body > header a {
    color: inherit; }
  body > header nav {
    float: right; }
    body > header nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    body > header nav li {
      display: inline-block;
      margin: 0 0 0 6px; }

time {
  text-transform: uppercase;
  letter-spacing: -0.01em;
  font-size: 0.85em;
  color: #868792; }

article h1 {
  margin: 2em 0 0.5em;
  font-size: 2.0em; }
article.index h1 {
  font-size: 1.6em;
}
article h1 + time {
  margin-bottom: 2em; }

p {
  text-align: justify;
  margin: 0 0 1.5em; }

a {
  text-decoration: none;
  color: #ff9900; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit; }
  a:hover {
    color: #ffc880; }

hr {
  margin: 0 auto 2em;
  border: 1px solid transparent;
  height: 2em; }

hr:before {
  display: block;
  content: "* * *";
  text-align: center;
  opacity: 0.5;
  font-size: 2em;
  letter-spacing: 0.5em;
  overflow: hidden; }

time.square {
  float: right; }

.index time.square {
  float: left; }

.index time.square + h1 {
  margin-left: 2em;
  font-weight: normal; }

article.index {
  max-width: 50em; }
  article.index article {
    max-width: inherit; }

time.square {
  line-height: 1;
  margin-top: 0.4em;
  overflow: hidden;
  display: inline-block;
  text-align: center; }
  time.square * {
    display: block; }
  time.square .day {
    float: left;
    font-size: 1.8em;
    margin-top: 0.075em;
    width: 1em;
  }
  time.square .month {
    float: left;
    clear: left;
    font-size: 0.65em;
    margin-top: 0.05em;
    letter-spacing: 0.35em;
    text-align: center;
    width: 2.9em;
  }
  time.square .year {
    float: right;
    width: 1.2em;
    word-wrap: break-word;
    line-height: 0.95;
    font-size: 0.60em;
    padding: 0.4em 0.4em; }
  .index time.square{
    margin-top: 0.2em
    margin-right: 2em
  }
