<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>
      {% if page.title %}
      {{ page.title }}
      {% else %}
      Jonathan Allard · Blog
      {% endif %}
    </title>
    <script src='http://use.edgefonts.net/inconsolata;source-sans-pro.js'></script>
    <link href='/stylesheets/blog.css' rel='stylesheet'>
    {% include google_analytics.html %}
  </head>
  <body>
    <header>
      <div class='title'>
        <h1>
          <a href='/'>Jonathan Allard</a>
        </h1>
      </div>
      <nav>
        <ul>
          <li>
            <a href='//twitter.com/jonathanallard'>
              <img alt='@jonathanallard' height='12' src='/images/twitter.svg' title='@jonathanallard'>
            </a>
          </li>
          <li>
            <a href='/atom.xml'>
              <img alt='RSS' height='12' src='/images/rss.svg' title='RSS'>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {{ content }}
  </body>
</html>
