<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>{{ page.title || Jonathan Allard > Blog }}</title>
    <script src='http://use.edgefonts.net/inconsolata.js'></script>
    <script src='http://use.edgefonts.net/m-1m.js'></script>
    <script src='http://use.edgefonts.net/linden-hill.js'></script>
    <link href='/stylesheets/style.css' rel='stylesheet'>
  </head>
  <body>
    <header>
      <div class='title'>
        <h1>
          <a href='/'>Jonathan Allard</a>
        </h1>
      </div>
      <nav>
        <ul>
          <li>
            <a href='//twitter.com/jonathanallard'>
              <object alt='@jonathanallard' data='/images/twitter.svg' style='height: 12px;' title='@jonathanallard'>
                <img alt='@jonathanallard' src='/images/twitter.png' title='@jonathanallard'>
              </object>
            </a>
          </li>
          <li>
            <a href='/atom.xml'>
              <object alt='RSS' data='/images/rss.svg' style='height: 12px;' title='RSS'>
                <img alt='RSS' src='/images/rss.png' title='RSS'>
              </object>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {{ content }}
  </body>
</html>
